
      <div class="blog-header">
        <h1 class="blog-title">About</h1>
        <p class="lead blog-description">about me </p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">




        </div><

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">

        </div>
      </div>
