

      <div class="blog-header">
        <h1 class="blog-title">BeerBlogger</h1>
        <p class="lead blog-description">The hoppier the better </p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">



          <div class="blog-post">
            Expect a new craft beer blog once a week!
            Stay tuned!
          </div><!-- /.blog-post -->



        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About the blog</h4>
            <p>Each week we will blog about a new beer.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            New content coming soon....
            </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            Check out our beer app coming soon...
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
